<!doctype html>
<html lang="en">
  <head>
    {% render "head", metadata: site.metadata, title: page.title %}
  </head>
  <body>
    <main>
      <!-- {{ content }} -->
      <section class="row">
        <section class="col col-1of2"><h1>Liz Fox Roseberry</h1></section>
        <section class="col col-1of-2 fi-stretch">
          <section class="col col-1of2"><h1 class="t-regular">Resume</h1></section>
          <section class="col shrink-to-fit"><img src="images/logo.svg" class="logo" /></section>
        </section>
      </section>
      <section class="row">
        <section class="col col-1of2">
          <h2>Contact:</h2>
        </section>
        <section class="col col-1of2">
          <h2>Address:</h2>
        </section>
      </section>
      <section class="row">
        <section class="col col-1of4"><h2>Experience</h2></section>
        <section class="col">
          <h2>haldkfj</h2>
          <p>aldkfjadlfkjdfkldjf</p>
        </section>
      </section>
    </main>
  </body>
</html>
