<!doctype html>
<html lang="en">
  <head>
    {% render "head", metadata: site.metadata, title: page.title %}
  </head>
  <body>
    <main>
      <!-- {{ content }} -->
      <section class="row">
        <section class="header-col col-1of2">
          <div class="content-wrapper">
            <h1>Liz Fox Roseberry</h1>
          </div>
        </section>
        <section class="header-col header-col-1of-2 fi-stretch">
          <section class="header-col header-col-1of2 hidden-800">
            <div class="content-wrapper">
              <h1 class="t-regular">Resume</h1>
            </div>
          </section>
          <section class="header-col shrink-to-fit logo-wrapper">
            <img src="images/logo.svg" class="logo" alt="Roseberry" />
          </section>
        </section>
      </section>
      <section class="row">
        <section class="col col-1of2">
          <div class="contact-info-wrapper">
            <h2>Contact:</h2>
            <p><span class="t-bold">P.</span> 469.569.8436</p>
            <p><span class="t-bold">E.</span> Elizabethroseberry@gmail.com</p>
          </div>
        </section>
        <section class="col col-1of2">
          <div class="contact-info-wrapper">
            <h2>Address:</h2>
            <p>1606 Chippeway Ln</p>
            <p>Austin, TX 78745</p>
          </div>
        </section>
      </section>
      <section class="row no-border resume-sections-wrapper">
        <section class="col col-1of4">
          <div class="resume-section-title">
            <h2>Experience</h2>
          </div>
        </section>
        <section class="col border-bottom">
          <div class="resume-section-content-wrapper">
            <h2 class="t-lower">DoStuff Media <span class="t-regular">May 2017 - July 2021</span></h2>
            <h2 class="resume-section-job-title">Creative Producer / Graphic Designer</h2>
            <p>As the only desginer in a company of 80+ employees, I oversaw and executed the design needs for 20 media properties around the US and Canada. Responsibilities included the production of: Sponsored Content, Social Media Ads, Event Branding + Production, Building Pitch Decks, Creative Concepting, Apparel Design, Asset Management</p>
            <p class="t-upper">Clients: Deep Eddy Vodka, Austin East Ciders, Bud Light, T-Mobile, C3 Presents, REI, Shea Coulé, Goose Island, Jack Daniel's, OK Cupid</p>
          </div>
          
          <div class="resume-section-content-wrapper">
            <h2 class="t-lower">Do512 <span class="t-regular">June 2013 - May 2017</span></h2>
            <h2 class="resume-section-job-title no-bottom-margin">Graphic Designer</h2>
          </div>
          
          <div class="resume-section-content-wrapper">
            <h2 class="t-lower">Dominican Joe Coffee <span class="t-regular">2009 - 2013</span></h2>
            <h2 class="resume-section-job-title">Morning Barista</h2>
            <p>Woke up at 5:00AM for 4 years to sling espresso for sleepy folks. Only including to. 
              Only including to note that I love early morning gigs.</p>
          </div>
        </section>
      </section>
      
      <section class="row no-border resume-sections-wrapper">
        <section class="col col-1of4">
          <div class="resume-section-title">
            <h2 class="">I'm really good at</h2>
          </div>
        </section>
        
        <section class="col border-bottom">
          <div class="resume-section-content-wrapper">
            <p class="no-margin">ADOBE ILLUSTRATOR, PHOTOSHOP, EVENT PRODUCTION, ILLUSTRATION, KEYNOTE, BRAND IDENTITY, BUILDING THINGS, WORKING WITH MY HANDS, PROBLEM SOLVING, BEING NICE, <span class="t-bold">KEEPING PLANTS ALIVE</span></p>
          </div>
        </section>
      </section>
      
      <section class="row no-border resume-sections-wrapper">
        <section class="col col-1of4">
          <div class="resume-section-title">
            <h2 class="">Education</h2>
          </div>
        </section>
        
        <section class="col">
          <div class="resume-section-content-wrapper">
            <h2>Texas State University 2005 - 2009</h2>
            <p>BFA Communication Design // Honors: Deans List, Summa Cum Laude, GPA 3.9</p>
            <p>Areas of interest: Art Direction, Typography, Color Theory, Illustration, Drawing, Web Design, Screen Printing, Art History, Sculpture, 3d Mixed Media</p>
          </div>
        </section>
      </section>
      
      <section class="row border-top references">
        <section class="col col-1of4">
          <div class="resume-reference-title">
            <h2 class="">References</h2>
          </div>
        </section>
        
        <section class="col">
          <div class="resume-section-reference-wrapper">
            
              <h2 class="t-lower">Courtney Goforth</h2>
              <p>214.682.1628</p>
              <p>courtneygoforth@gmail.com</p>
          </div>
        </section>
        
        <section class="col">
          <div class="resume-section-reference-wrapper">
            
              <h2 class="t-lower">JMAT Bernal</h2>
              <p>512.913.1523</p>
              <p>jmat@texastribune.com</p>
            
          </div>
        </section>
        
        <section class="col">
          <div class="resume-section-reference-wrapper">
            
              <h2 class="t-lower">Ashely Gregg</h2>
              <p>512.971.8475</p>
              <p>ashley@do512.com</p>
            
          </div>
        </section>
      </section>
      
      
    </main>
  </body>
</html>
